

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding-top: 40px;
    width: 600px;
    text-align: center;
    margin: auto;
}
main h1{
    margin-bottom: 50px;
}
main h2{
    margin-top: 50px;
}

.placaV{   
    transform: rotate(-20deg);
    border: rgb(206, 0, 0) solid 10px;
    border-radius: 12px;    
    font-size: 50px;
    margin: 10px auto;
    width: 500px;
}
.colorVermelha {
    color: red;
}
.placaV > h2, h3{
    margin: 20px auto;
}
@media (max-width: 360px) {
    main{
        width: 360px;
    }
    main h1{
        margin-bottom: 50px;
    }
    main h2{
        margin-top: 50px;
    }
    .placaV{   
        transform: rotate(-10deg);        
        font-size: 30px;       
        width: 300px;    
    }
}